<ion-header>
  <ion-toolbar>
    <ion-title>registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-grid class="set-grid">
      <ion-row>
        <ion-col class="ion-text-center top">
          <img src="/assets/icon/logo_devskill.png" />
        </ion-col>
      </ion-row>
      <ion-col></ion-col>
      <ion-row>
        <ion-col class="ion-text-center top">
          <h6 class="text">Benvenuti</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="text" for="name" position="floating"
              >Name</ion-label
            >
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="text" for="sname" position="floating"
              >Surname</ion-label
            >
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="text" for="bday" position="floating"
              >Birthday</ion-label
            >
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="text" for="mail" position="floating"
              >Email</ion-label
            >
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="text" for="user" position="floating"
              >Username</ion-label
            >
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="text" for="pword" position="floating"
              >Password</ion-label
            >
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-button> Submit</ion-button>
    </ion-grid>
  </form>
</ion-content>
