ion-icon {
    color: rgb(3, 3, 113);
}
.set-grid{
    max-width: 320px;
}

.button{
    --background: rgb(4, 4, 119);
}
.under{
    font-size: 10px;
    color:#979797;
}
.credential {
    font-size: 17px;
    color:#979797;
}
.top{
    margin-top: 50px;
}
.text {
    font-family: 'Times New Roman', Times, serif;
}

