<ion-header>
  <ion-toolbar>
    <ion-title>registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-grid class="set-grid">
      <app-titolo-devskill> </app-titolo-devskill>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="text" for="name" position="floating">Name</ion-label>
            <ion-input id="uname" name="uname" type="text"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="text" for="sname" position="floating">Surname</ion-label>
            <ion-input id="sname" name="sname" type="text"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="text" for="bday" position="floating">Birthday</ion-label>
            <ion-input id="bday" name="bday" type="text"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="text" for="mail" position="floating">Email</ion-label>
            <ion-input id="mail" name="mail" type="text"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="text" for="user" position="floating">Username</ion-label>
            <ion-input id="uname" name="uname" type="text"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="text" for="pword" position="floating"
              >Password</ion-label>
            <ion-input id="passw" name="pass" type="password"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-button> Submit</ion-button>
    </ion-grid>
  </form>
</ion-content>
