<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Benvenuto </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong style="color: darkblue">Benvenuto nel nostro sito</strong>
    <br />
    <br />
    <p>Se fai già parte del nostro gruppo</p>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="http://localhost:8100/login"
    >
      Accedi
    </a>
    <p>Altrimenti entra a far parte del nostro gruppo</p>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="http://localhost:8100/registration"
    >
      Registrati
    </a>
  </div>
</ion-content>
